<ion-view title="Page" hide-nav-bar="true" id="page1" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button1" class="button button-assertive button-small button-block icon ion-social-googleplus-outline"></button>
      <a href-inappbrowser="https://play.google.com/store/apps/developer?id=Fast+Pro+Apps" id="page-button2" class="button button-balanced button-small button-block icon ion-android-playstore"></a>
      <a href-inappbrowser="https://www.facebook.com/FastProApps/" id="page-button3" class="button button-positive button-small button-block icon ion-social-facebook"></a>
    </div>
    <div>
      <img src="img/k0jYoAncQmKyaP5gdajv_adaesf.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="page-card21">
      <div class="item item-body" id="page-list-item-container2" style="">
        <div>
          <img src="img/KoEupblT76oPQylspV5m_awd.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 251px; height: 15px;"></div>
        <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#171717;">
            <strong>This privacy policy governs your use of Fast Pro Apps Applications for mobile devices The Application collects some Personal Data from its Users</strong>
          </p>
        </div>
      </div>
    </div>
    <h5 id="page-heading1" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">What information does the Application obtain and how is it used</h5>
    <div class="list card" id="page-card22">
      <ion-item class="item-divider" id="page-list-item-divider2"> User Provided Information </ion-item>
      <div class="item item-body" id="page-list-item-container5" style="">
        <div id="page-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>The Application obtains the information you provide when you download, register and use the Application. Registration with us is mandatory in order to be able to use the basic features of the Application When you register with us and use the
              Application, you generally provide (a) your name, email address, define a password and provide eventually other registration information; (b) transaction-related information, such as when you respond to any offers, or download or use applications
              from us; (c) information you provide us when you contact us for help; and (d) information you enter into our system when using the Application, such as contact information, likes and downloads, and project management information. We may
              use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions. </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card23">
      <ion-item class="item-divider" id="page-list-item-divider4"> Automatically Collected Information</ion-item>
      <div class="item item-body" id="page-list-item-container6" style="">
        <div id="page-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong> In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the Ipaddress of your mobile device, your mobile operating
              system, the type of mobile Internet browsers you use, and information about the way you use the Application. Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application,
              unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card24">
      <ion-item class="item-divider" id="page-list-item-divider5"> Access to third parties services account </ion-item>
      <div class="item item-body" id="page-list-item-container7" style="">
        <div id="page-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong> This type of services allows this Application to access Data from your account on a third party service and perform actions with it. These services are not activated automatically, but require explicit authorization by the User. </strong>
          </p>
        </div>
      </div>
    </div>
    <h5 id="page-heading2" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">Does the Application collect precise real time location information of the device</h5>
    <div id="page-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong> When you visit the mobile application, we may use GPS technology (or other similar technology) to determine your current location in order to determine the city you are located within and display a location mapwith relevant advertisements. We
          will not share your current location with other users or partners. If you do not want us to use your location for the purposes set forth above, you should turn off the location services for the mobile application located in your account settings
          or in your mobile phone settings and/or within the mobile application</strong>
      </p>
    </div>
    <div class="list card" id="page-card25">
      <ion-item class="item-divider" id="page-list-item-divider6"> The Use of the Collected Data</ion-item>
      <div class="item item-body" id="page-list-item-container8" style="">
        <div id="page-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Access to third party services' accounts, Analytics, Contacting the User, Advertising, Registration and authentication,
              Managing contacts and sending messages</strong>
          </p>
        </div>
      </div>
    </div>
    <h5 id="page-heading3" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">Do third parties see and/or have access to information obtained by the Application</h5>
    <div id="page-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>We might share your information with third parties, but only in the ways that are described in this privacy statement. We may disclose User Provided and Automatically Collected Information: </strong>
      </p>
    </div>
    <div class="list card" id="page-card26">
      <div class="item item-body" id="page-list-item-container9" style="">
        <div id="page-markdown9" class="show-list-numbers-and-dots">
          <ul>
            <li>
              <p style="margin-top:0px;color:#000000;">as required by law, such as to comply with a subpoena, or similar legal process;</p>
            </li>
            <li>
              <p style="color:#000000;">when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</p>
            </li>
            <li>
              <p style="color:#000000;">with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</p>
            </li>
            <li>
              <p style="color:#000000;">if Stanga or Shine Media is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Website of any change in ownership or uses of this information, as
                well as any choices you may have regarding this information.</p>
            </li>
            <li>
              <p style="color:#000000;">to advertisers and third party advertising networks and analytics companies as described in the section below</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card29">
      <ion-item class="item-divider" id="page-list-item-divider10"> Automatic Data Collection and Advertising </ion-item>
      <div class="item item-body" id="page-list-item-container12" style="">
        <div id="page-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong> We may work with analytics companies to helpus understand how the Application is being used, such as the frequency and duration of usage. We work with advertisers and third party advertising networks, who need to know how you interact with
              advertising provided in the Application which helps us keepthe cost of the Application low. Advertisers and advertising networks use some of the information collected by the Application, including, but not limited to, the unique identification
              ID of your mobile device and your mobile telephone number. To protect the anonymity of this information, we use an encryption technology to help ensure that these third parties can't identify you personally. These third parties may also
              obtain anonymous information about other applications you've downloaded to your mobile device, the mobile websites you visit, your non-precise location information (e.g., your zipcode), and other non- precise location information in order
              to help analyze and serve anonymous targeted advertising on the Application and elsewhere. We may also share encrypted versions of information you have provided in order to enable our partners to append other available information about
              you for analysis or advertising related use. If you'd like to opt-out from third party use of this type of information to help serve targeted advertising, please visit the section entitled "Opt-out" below</strong>
          </p>
        </div>
      </div>
    </div>
    <h5 id="page-heading5" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">What are my opt-out rights</h5>
    <div id="page-markdown19" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <p style="color:#000000;">There are multiple opt-out options for users of this Application:</p>
        </li>
        <li>
          <p style="color:#000000;">Opt-out of all information collection by uninstalling the Application: You can stopall collection of information by the * Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as
            part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at fast.pro.apps@gmail.com .</p>
        </li>
        <li>
          <p style="color:#000000;">Opt-out from the use of information to serve targeted advertising by advertisers and/or third party network advertisers: you may at any time opt-out from further allowing us to have access to your location data by following those steps: in your
            device, go to Google Settings / Ads, and check "opt-out of interested-based ads</p>
        </li>
      </ul>
    </div>
    <h4 id="page-heading6" style="color: rgb(0, 0, 0); font-weight: 400; text-align: center;">Additional info about Data Collection and processing</h4>
    <div class="list card" id="page-card210">
      <ion-item class="item-divider" id="page-list-item-divider13"> Data Retention Policy, Managing Your Information </ion-item>
      <div class="item item-body" id="page-list-item-container13" style="">
        <div id="page-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate. If you'd like us
              to delete User Provided Data that you have provided via the Application , Please note that some or all of the User Provided Data may be required in order for the Application to function properly</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card211">
      <ion-item class="item-divider" id="page-list-item-divider14"> Children</ion-item>
      <div class="item item-body" id="page-list-item-container14" style="">
        <div id="page-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact
              us at fast.pro.apps@gmail.com We will delete such information from our files within a reasonable time</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card212">
      <ion-item class="item-divider" id="page-list-item-divider15"> Security</ion-item>
      <div class="item item-body" id="page-list-item-container15" style="">
        <div id="page-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized
              employees and contractors who need to know that information in order to operate, developor improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security
              system can prevent all potential security breaches</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card213">
      <ion-item class="item-divider" id="page-list-item-divider16"> Your Consent </ion-item>
      <div class="item item-body" id="page-list-item-container16" style="">
        <div id="page-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong> By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing", means using cookies on a computer/hand held device or using or touching information
              in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="page-card214">
      <ion-item class="item-divider" id="page-list-item-divider17"> Contact us </ion-item>
      <a href="mailto:fast.pro.apps@gmail.com" id="page-button4" style="border-radius:0px 0px 0px 0px;" class="button button-assertive button-small button-block button-outline icon ion-email"> Fast.Pro.Apps@gmail.com</a>
      <div class="item item-body" id="page-list-item-container17" style="">
        <div id="page-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at </strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>